{% capture footer_contents %}
<div class="text-center py-3" style="font-size: 0.75rem; color: var(--global-text-color-light);">
  &copy; {{ 'now' | date: "%Y" }} Yate Ge. Built with <a href="https://github.com/alshedivat/al-folio" target="_blank" rel="noopener" style="color: var(--global-text-color-light);">al-folio</a>.
</div>
{% endcapture %}

{% if site.footer_fixed %}
  <footer class="fixed-bottom" role="contentinfo">
    <div class="container mt-0">
      {{ footer_contents }}
    </div>
  </footer>
{% else %}
  <footer class="sticky-bottom mt-5" role="contentinfo">
    {% if site.newsletter.enabled %}
      {% include newsletter.liquid %}
    {% endif %}

    <div class="container">
      {{ footer_contents }}
    </div>
  </footer>
{% endif %}
